input{
			border:1px solid black;
		}
		input:focus{
			background-color: #E6E6E6;
		}
		fieldset{
			margin-bottom: 4%;
		}
.circlesmall{
	width:100px;
	height:100px;
	border-radius:50px;
	font-size:75px;
	color:#fff;
	line-height:100px;
	text-align:center;
	background:#000;
	display: inline-block;
}

.circlelarge{
	width:300px;
	height:300px;
	border-radius:170px;
	font-size:60px;
	color:#fff;
	line-height:300px;
	text-align:center;
	background:#000
}
